/* *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
} */

body{
     /* background: linear-gradient(
        167deg,
        rgb(251, 252, 251),
        #55e104,
        #e7347f
    ); */
     font-family: 'popine',sans-serif;
     
}