*{
    font-family: 'popine',sans-serif;
}

body{
    background-color: darkgreen;
    color: #FFF7E6;
}

table,th,td{
    border: 1px solid black;
    padding: 10px; 
    border-collapse: collapse;
}