/* *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
} */

body{
     background: linear-gradient(
        135deg,
        rgb(93, 88, 78),
        #685f5f,
        #6a716a
    );
     font-family: 'popine',sans-serif;
     
}